@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-foreground: #FAFAFA;
  --color-pf-name: #09090B;
  --color-sc-link: #FAAE2B;
  --color-menu-btn: #E4E4E7;
  --color-post-default: #E4E6F099;
  --color-type-text: #09090B;
  --color-post-active: #E0DFFF99;
  --color-post-active-text: #6640FF;
  --color-gem-badge: #FF9645;
  --color-question-active: #FDF5DE;
  --color-high-bg: #F4F1FD;
  --color-owner: #9040FF;
  --color-manager-text: #335CFF;
  --color-alert-blue: #EBF1FF;
  --color-member-text: #FF8447;
  --color-member-bg: #FFF1EB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter)!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
